[Unit]
Description=Munin auto start tracking
After=network.target munin-auto-pointing.service
Wants=munin-auto-pointing.service

[Service]
Type=simple
ExecStart=/usr/local/bin/munin/tracking/run.bash
Restart=no

[Install]
WantedBy=multi-user.target
